* {
    box-sizing: border-box;
    font-size: 1rem;
}

body, html, .root {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

i {
    font-size: 40px;
}

.center{
    justify-content: center;
    display: flex;
    margin-top: 20px;
}

.ReasonsFrance{
    grid-template-columns: repeat(2,minmax(0,1fr));
}
